# Copy this to terraform.tfvars and fill in your values
# DO NOT commit terraform.tfvars to git

aws_region   = "us-east-1"
project_name = "loan-decision-api"
environment  = "dev"
owner        = "rohit"
